body {
    cursor: default;
}

#bottomSpacer {
    height: 150px;
}

#controlsWrapper {
    width: 100%;
    z-index: 50;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #eeeeee;
    padding: 8px;
}

.active {
    background-color: #49bc49;
}

button {
    margin: 8px;
    color: #ffffff;
    font-size: 1em;
    background-color: #555555;
    transition: all 0.5s ease-in-out;
    padding: 10px 20px 10px 20px;
    border: 2px solid transparent;
}

button:hover:enabled {
    background-color: #212121;
    cursor: pointer;
    border-color: #00cc00;
}

#upButton, #downButton {
    padding: 10px 30px;
}

#activeClients {
    margin: 16px;
    padding: 12px;
    width: 1em;
    height: 1em;
    top: 0;
    right: 0;
    line-height: 1em;
    font-size: 1em;
    color: white;
    border-radius: 50%;
    position: fixed;

}

#errorBox {
    top: 20px;
    right: 20px;
    bottom: unset;
}

@media only screen and (max-device-width: 1024px) {
    body {
        overflow: scroll;
    }

    button, #activeClients {
        font-size: 3.5em;
    }

    #bottomSpacer {
        height: 550px;
    }
}