body {
    cursor: default;
}

#bottomSpacer {
    height: 150px;
}

#controlsWrapper {
    width: 100%;
    z-index: 50;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #eeeeee;
}

.active {
    background-color: #49bc49;
}

button {
    margin: 8px;
    color: #ffffff;
    background-color: #555555;
    transition: all 0.5s ease-in-out;
    font-size: 1em;
    padding: 10px 20px 10px 20px;
    border: 2px solid transparent;
}

button:hover:enabled {
    background-color: #212121;
    cursor: pointer;
    border-color: #49bc49;
}

#upButton, #downButton {
    padding: 10px 30px;
}

#activeClients {
    float: left;
    margin: 16px;
    background: #49bc49;
    width: calc(1em - 10px);
    padding: 10px 20px 10px 20px;
    border-radius: 50%;
    color: white;
}

#clock {
    float: right;
    margin: 8px 16px 8px 8px;
    color: white;
    border-radius: 50%;
    padding: 0 4px 6px;
    opacity: 0;
    width: calc(1em + 34px);
    height: calc(1em + 34px);
}

#activeClients.negative {
    background: #C1C1C1;
    color: #d80000;
}

#errorBox {
    top: 20px;
    right: 20px;
    bottom: unset;
}

@media only screen and (max-device-width: 1024px) {
    body {
        overflow: scroll;
    }

    button, #activeClients {
        font-size: 3.5em;
    }

    #bottomSpacer {
        height: 550px;
    }
}