html {
    font-size: 16px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background: #000;
    color: white;
    font-size: 1.2em;
}

#title {
    color: #ff7c00;
    font-weight: normal;
    margin-bottom: 0.6em;
    text-align: center;
}

.settingGroupTitle {
    margin-bottom: 1em;
    font-size: 0.7em;
}

main {
    margin: 1em;
    display: inline-block;
    padding: 0 1.5em 0 1.5em;
    background: #181818;
    border-radius: 0.25em;
    text-align: left;
    border: 0.375em solid #181818;
}

.settingGroup {
    margin-top: 1em;
    margin-bottom: 1em;
    background: #111111;
    padding: 0.75em 1.5em;
}

.setting {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    overflow: hidden;
    min-height: 2em;
}

.settingText {
    display: inline-block;
}

#maxLinesPage {
    border-width: 0;
    border-radius: 0.25em;
}

#saveSongDir {
    font-size: 1.0em;
}

.right {
    float: right;
}

.warning {
    color: #b98b00;
}

.switch {
    position: relative;
    display: inline-block;
    height: 2em;
    width: 3.5em;
    zoom: 0.7;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 1.75em;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    left: 0.25em;
    bottom: 0.25em;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

.disabled {
    opacity: 0.5;
}

.disabled .slider {
    cursor: default;
}

input:checked + .slider {
    background-color: #008cff;
}

input:checked + .slider:before {
    transform: translateX(1.5em);
}

input[type="text"], input[type="number"] {
    padding: 0.375em 0.75em;
}

#savedHint {
    position: fixed;
    top: 0;
    right: 0;
    background: #49bc49;
    color: #ffffff;
    border: 0.2em solid #ffffff;
    border-radius: 0.25em;
    padding: 0.5em;
    margin: 1em;
    transition: opacity 1s;
}

.invisible {
    opacity: 0;
}