body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background: black;
    cursor: none;
    overflow: hidden;
    font-size: 64px;
    animation-name: enterAnimation;
    animation-duration: 0.7s;
    animation-fill-mode: backwards;
}

.bodyExit {
    opacity: 0;
    transition: opacity 0.7s linear;
}

#title {
    color: #ff7c00;
    font-weight: normal;
    font-size: 0.7em;
    margin-top: 10px;
    margin-bottom: 1px;
}

@keyframes enterAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section {
    margin: 16px auto 16px;
    border-radius: 4px;
    color: #909090;
    border: 6px solid #00ffa5;
}

.sectionName {
    color: #00ffa5;
    position: absolute;
    text-align: left;
    font-size: 0.45em;
    margin-top: 5px;
    margin-left: 10px;
}

.page {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    padding-top: 25px;
    padding-bottom: 25px;
}

.currentSection {
    color: #ffffff;
}

.currentPage {
    border-color: #ffffff;
    background: #111111;
}

.VERSE > .sectionName {
    color: #008cff;
}

.PRE_CHORUS {
    border-color: #862AFF;
}

.PRE_CHORUS > .sectionName {
    color: #862AFF;
}

.CHORUS > .sectionName {
    color: #bf00ff;
}

.BRIDGE > .sectionName {
    color: #ff3911;
}

.VERSE {
    border-color: #008cff;
}

.CHORUS {
    border-color: #bf00ff;
}

.PRE_BRIDGE {
    border-color: #F22E41;
}

.PRE_BRIDGE > .sectionName {
    color: #F22E41;
}

.BRIDGE {
    border-color: #ff3911;
}

.ENDING > .sectionName {
    color: #00ce30;
}

.ENDING {
    border-color: #00ce30;
}

#bottomSpacer {
    height: 50px;
}

#title.negative {
    color: #d80000;
    font-size: 2em;
}

#errorBox {
    display: none;
    position: fixed;
    font-size: 0.7em;
    color: white;
    background: #d80000;
    padding: 10px 20px;
    border: 6px solid white;
    border-radius: 2px;
    bottom: 20px;
    right: 20px;
}