html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 64px;
}

body {
    text-align: center;
    background: black;
    overflow: hidden;
    animation-name: enterAnimation;
    animation-duration: 0.7s;
    animation-fill-mode: backwards;
}

main {
    animation-name: enterAnimation;
}

.fadeOut main {
    opacity: 0;
    transition: opacity 0.7s linear;
}

#title {
    color: #ff7c00;
    font-weight: normal;
    font-size: 0.7em;
    margin: 10px 10px 1px;
}

@keyframes enterAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section {
    margin: 16px auto 16px;
    border-radius: 4px;
    color: #909090;
    border: 6px solid #00ffa5;
}

.sectionName {
    color: #00ffa5;
    position: absolute;
    text-align: left;
    font-size: 0.45em;
    margin-top: 5px;
    margin-left: 10px;
}

.pageContent {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    padding-top: 25px;
    padding-bottom: 25px;
}

.currentSection {
    color: #ffffff;
}

.currentPage .pageContent {
    border-color: #ffffff;
    background: #111111;
}

.VERSE > .sectionName {
    color: #008cff;
}

.PRE_CHORUS {
    border-color: #862AFF;
}

.PRE_CHORUS > .sectionName {
    color: #862AFF;
}

.CHORUS > .sectionName {
    color: #bf00ff;
}

.BRIDGE > .sectionName {
    color: #ff3911;
}

.VERSE {
    border-color: #008cff;
}

.CHORUS {
    border-color: #bf00ff;
}

.PRE_BRIDGE {
    border-color: #F22E41;
}

.PRE_BRIDGE > .sectionName {
    color: #F22E41;
}

.BRIDGE {
    border-color: #ff3911;
}

.ENDING > .sectionName {
    color: #00ce30;
}

.ENDING {
    border-color: #00ce30;
}

#bottomSpacer {
    height: 75px;
}

#title.negative {
    color: #d80000;
    font-size: 2em;
}

#errorBox {
    display: none;
    position: fixed;
    font-size: 0.7em;
    color: white;
    background: #d80000;
    padding: 10px 20px;
    border: 6px solid white;
    border-radius: 2px;
    bottom: 20px;
    right: 20px;
}

#clockInSong {
    position: fixed;
    bottom: 0;
    opacity: 0.6;
    right: 0;
    font-size: 0.4em;
    margin-right: 14px;
    background: black;
}

#clockInSong #timeSeconds {
    display: none;
}

#clockInSong #timeBox {
    margin: 0;
    padding: 0 12px;
    border-width: 0;
}

#clockInSong.hideClock {
    opacity: 0.1;
}

.chordPos {
    vertical-align: 0.8em;
}

.chordPos .chord {
    position: absolute;
}

.chord {
    font-size: 0.8em;
    line-height: 1;
    color: #8c8a05;
}

#title .chord {
    position: absolute;
    right: 10px;
    font-size: 1em;
    background: black;
}

.currentSection .chord, #title .chord {
    color: #eae609;
}

.simplePlaceholder {
    visibility: hidden;
}
