html {
    font-size: 16px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background: #000;
    font-size: 1.2em;
}

#title {
    color: #00d800;
    font-weight: normal;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

main {
    display: block;
    margin: 1em;
    border-radius: 0.25em;
    background: #181818;
    color: #eeeeee;
    border: 0.375em solid #181818;
    min-height: calc(100vh - 2em);
    box-sizing: border-box;
}

table {
    width: 100%;
    padding: 0.5em;
}

th, td {
    text-align: left;
    background: #111111;
    padding: 0.75em 1.5em;
    font-style: normal;
    font-weight: normal;
}

th {
    width: 30%;
}

tr {
    background: #111111;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

td {
}

.negative {
    color: #d80000;
}

.positive {
    color: #00d800;
}

.warning {
    color: #b98b00;
}

#errorBox {
    display: none;
    position: fixed;
    font-size: 2em;
    color: white;
    background: #d80000;
    padding: 0.3em;
    border: 0.15em solid white;
    border-radius: 0.1em;
    bottom: 0.5em;
    right: 0.5em;
}