html {
    font-size: 16px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background: #000;
    color: white;
    max-width: calc(100vw - 2em);
}

#title {
    color: #ff7c00;
    font-weight: normal;
}

main {
    margin: 1em 1em 0;
    display: inline-block;
    padding: 0 1.5em 1.5em 1.5em;
    background: #181818;
    border-radius: 0.25em;
    border: 0.375em solid #181818;
}

.setting {
    font-size: 1.5em;
}

a {
    color: #008cff;
}

.tutorialHeadline {
    text-align: left;
    font-weight: normal;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.25em;
    border: 0.125em solid white;
}

#tutorialRemote {
    width: 49%;
    display: inline-block;
    float: left;
}

#tutorialLocal {
    width: 49%;
    display: inline-block;
    float: right;
}

.setting select {
    zoom: 1.2;
}

.tutorialNumber {
    font-size: 1.3em;
}

.disabled {
    opacity: 0.5;
}