body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background: #000;
    font-size: 18px;
    color: white;
}

#title {
    color: #ff7c00;
    font-weight: normal;
    margin-bottom: 10px;
}

main {
    max-width: calc(100vw - 32px);
    min-width: 640px;
    margin: 16px 16px 0;
    display: inline-block;
    padding: 0 24px 24px 24px;
    background: #181818;
    border-radius: 4px;
    border: 6px solid #181818;
}

.setting {
    font-size: 1.3em;
}

a {
    color: #008cff;
}

.tutorialHeadline {
    text-align: left;
    font-weight: normal;
}

img {
    max-width: 90%;
    height: auto;
    border-radius: 4px;
    border: 2px solid white;
}

#tutorialRemote {
    width: 49%;
    display: inline-block;
    float: left;
}

#tutorialLocal {
    width: 49%;
    display: inline-block;
    float: right;
}

.setting select {
    zoom: 1.3;
}

.tutorialNumber {
    font-size: 1.3em;
}

.disabled {
    opacity: 0.5;
}